body {
    font-family: Arial;
    background: rgb(42, 152, 255);
}

header {
    font-size: 20pt;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    width: 500px;
    background: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.384);
}

footer {
    text-align: center;
    margin-top: 15px;
    color: white;
    font-weight: bold;
}

select {
    width: 125px;
}

